*.py[co]
.*.swp
install.out

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
images/*.svg
examples/*.svg
doc/.build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.test*.sum

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

